
import $file.AocDay
import ammonite.$file.AocDay._

object Today extends AocDay({{day}}) {
  def part1: AocPart = input => ""
  def part2: AocPart = input => ""
}

@main
def main(): Unit = Today.solve()